-- Migration pour permettre les paiements fournisseurs
ALTER TABLE public.paiements ALTER COLUMN facture_id DROP NOT NULL;
ALTER TABLE public.paiements ADD COLUMN IF NOT EXISTS delivery_note_id UUID REFERENCES public.delivery_notes(id) ON DELETE CASCADE;
ALTER TABLE public.paiements ADD COLUMN IF NOT EXISTS reference VARCHAR(100);
