-- Migration pour ajouter le montant initial aux bons de livraison
ALTER TABLE public.delivery_notes ADD COLUMN IF NOT EXISTS total_initial DECIMAL(12, 2) DEFAULT 0.00;

-- Mise à jour des données existantes (pour que total_initial = total_amount actuel si pas déjà défini)
UPDATE public.delivery_notes SET total_initial = total_amount WHERE total_initial = 0 OR total_initial IS NULL;

